# Maven #
target/
# Maven test folder #
src/test/java

# IDEA #
.idea/
*.iml

# Eclipse #
.settings/
.metadate/
.classpath
.project
*.properties
*.db
WebContent/WEB-INF/classes
Servers/

/bin/

WeIdea/node_modules