<div class="displayZone-outer">
  <div class="displayZone-inner">
    <header>
      <h2><img src="images/arrow-right.png" /><span>区块链信息板</span><img src="images/arrow-left.png" /></h2>
    </header>
    <div class="block" *ngFor="let block of blocks;let i = index">
      <div class="decorator" [class.latest]=" i < (newGuy-1)">
        <div class="circle"><span class="glyphicon glyphicon-leaf" [class.glyphicon-fire]="i <= (newGuy-1)"></span></div>
        <div class="bar" @colorRun></div>
      </div>
      <div class="transctions">
        <div class="transction" *ngFor="let transction of block.ttransctions;let i = index">
            <span class="date">{{transction.date | cdate}}</span>
            <span class="from">{{transction.from}}</span>
            <span class="action">{{transction.instruct | instruct2Action}}</span>
            <span class="to">{{transction.to}}</span>
            <span class="amount">{{transction.amount | currency:'CNY':true}}</span>
        </div>        
      </div>
      <div class="blockInfo">
        <span class="index">Index:{{len}}</span>
        <span class="hash">Hash:{{block.hash}}</span>
      </div>
    </div>
  </div>
</div>