<div class="displayZone-outer">
  <div class="displayZone-inner">
    <header>
      <h2><img src="images/arrow-right.png" /><span>区块链信息板</span><img src="images/arrow-left.png" /></h2>
    </header>
    <div class="block" *ngFor="let block of blocks;let i = index">
      <div class="decorator" [class.latest]=" i > (oldGuy-1)">
        <div class="circle"><span class="glyphicon glyphicon-leaf" [class.glyphicon-fire]="i >= (oldGuy-1)"></span></div>
        <div class="bar" @colorRun></div>
      </div>
      <div class="transctions">
        <div class="transction" *ngFor="let transction of block.ttransctions;let i = index" >
            <span class="date">{{transction.date | cdate}}</span>
            <span class="from" [class.selfTransction]="mine==transction.from || mine==transction.to">{{transction.from}}</span>
            <span class="action" *ngIf="transction.instruct == '1000' || transction.instruct == '1002'">{{transction.instruct | instruct2Action}}</span>
            <span class="action" *ngIf="transction.instruct == '1001' || transction.instruct == '1003'">{{transction.amount == '1' ? ' 已收到' : '未收到'}}</span>
            <span class="to" [class.selfTransction]="mine==transction.from || mine==transction.to">{{transction.to}}</span>
            <span class="amount" *ngIf="transction.instruct == '1000' || transction.instruct == '1002'">{{transction.amount | currency:'CNY':true}}</span>
            <span class="other" *ngIf="transction.instruct == '1001' || transction.instruct == '1003'">{{transction.amount == '1' ? '的借款' : '的欠款'}}</span>
        </div>        
      </div>
      <div class="blockInfo">
        <span class="hash">Hash:{{block.hash}}</span>
      </div>
    </div>
  </div>
</div>