<main class="dashboard">
  <header>
    <terminal-board [roles]="roles" [mine]="mine"></terminal-board>
  </header>
  <role-list [roles]="roles" [mine]="mine" [newRoles]="newRoles" (yeap)="yeap()"></role-list>
  <display-zone></display-zone>
  <scroll-to-top></scroll-to-top>
</main>

<section class="shadow" *ngIf="needComfirm"></section>
<section class="notification" *ngIf="needComfirm">
  <header>
    <span class="date">{{message.date | cdate}}</span>
    <span class="from">{{message.from}}</span>
    <span class="action">{{ message.instruct == 1000 ? '借给您': message.instruct == 1002 ? '还给您' : ''}}</span>
    <span class="amount">{{message.amount | currency:'CNY':true}}</span>
  </header>
  <div class="body">
    <span class="agree"  (click)="featBack(true)">欣然答应</span>
    <span class="disagree" (click)="featBack(false)">残忍拒绝</span>
  </div>
</section>

