<section class="terminal" >
  <header>
    <h3>{{state | state2Text:act}}</h3>
  </header>
  <div>
    <p *ngIf="state == 1">we借条是一个基于区块链技术的公正平台，用户节点越多，平台越安全！妈妈再也不用担心我交易被坑啦~</p>
    <div class="getStart" *ngIf="state == 0">
      <button (click)="getStart()" class="btn btn-danger">开始体验！</button>
    </div>
    <div class="action" *ngIf="state == 1">
      <div class="option">
        <span title="借钱？马上打欠条！" (click)="selectAction(1)">
          借条
        </span>
      </div><div class="option">
        <span title="还钱！" (click)="selectAction(2)">
          还条
        </span>
      </div>
    </div>
    <div class="target" *ngIf="state == 2">
      <select [(ngModel)]="target" name="tar" class="form-control">
        <option value="" disabled>选择用户</option>
        <option *ngFor="let role of roles; let i = index" [value] = 'role'>{{role}}</option>
      </select>
      <button (click) = "selectTarget()" class="btn btn-primary">确定</button>
    </div>
    <div id="terminal" *ngIf="state == 3">
      <input class="form-control" type="number" min="0" max="64000" [(ngModel)]="amount"/>
      <button (click) = "comfirm()" class="btn btn-success">提交</button>
    </div>
    <div class="sending" *ngIf="state == 4">
      <div class="spinner"></div>
      <p>Sending...</p>
    </div>
    <div class="retry" *ngIf="state == 5">
      <p *ngIf="isSuccess">成功</p>
      <p *ngIf="!isSuccess">失败</p>
      <button (click) = "reset()" class="btn btn-success">再来一次</button>
    </div>
    <div class="reset" *ngIf="state != 0 && state < 4" (click)="reset()" title="重来">
      <!-- <img src="images/sync.png"  /> -->
    </div>
  </div>
</section>

<section class="waiting">
  
</section>