.logo{
  width: 180px;
  position: absolute;
  top: 94px;
  left: 110px;
  transform: rotate(-28deg);
}
.logo img{
  width: 100%;
}
.go{
  position: absolute;
  width: 100px;
  top: 140px;
  left: 220px;
  cursor: pointer;
  z-index: 3;
  -webkit-animation : beat 1.5s ease-in-out infinite alternate-reverse;
  -o-animation      : beat 1.5s ease-in-out infinite alternate-reverse;
  animation         : beat 1.5s ease-in-out infinite alternate-reverse;
}
.go img{
  width: 100%;
}
.yaobai{
  position: absolute;
  width: 20px;
  top: 140px;
  left: 320px;
  z-index: 3;
  cursor: pointer;
  -webkit-animation : yaobai 1.5s ease-in-out infinite alternate-reverse;
  -o-animation      : yaobai 1.5s ease-in-out infinite alternate-reverse;
  animation         : yaobai 1.5s ease-in-out infinite alternate-reverse;
}
.yaobai img{
  width: 100%;
}

.loading-center{
  position   : relative;
  width      : 100%;
  height     : 100%;
  min-height : 500px;
}
.loading-inner{
  position          : absolute;
  left              : 50%;
  top               : 50%;
  margin-left       : -90px;
  margin-top        : -90px;
  width             : 180px;
  height            : 180px;
  /*border          : 1px solid #ccc;*/
  border-radius     : 50%;
  box-shadow        : 0 0 15px 2px #435C94;
  text-align        : center;
  background-color  : #435C94;
  -webkit-animation : fade 1.5s ease-in-out infinite alternate;
  -o-animation      : fade 1.5s ease-in-out infinite alternate;
  animation         : fade 1.5s ease-in-out infinite alternate;
}
.loading-inner img{
  width  : 90px;
  margin : 45px auto;
}

.loading-circle-1, .loading-circle-2{
  position          : absolute;
  left              : 50%;
  top               : 50%;
  margin-left       : -150px;
  margin-top        : -150px;
  width             : 300px;
  height            : 300px;
  border-top        : 2px solid #435C94;
  /*border-bottom   : 2px solid #435C94;*/
  border-radius     : 50%;
  opacity           : 0;
  -webkit-animation : rot 3s ease-in-out 2s infinite alternate-reverse;
  -o-animation      : rot 3s ease-in-out 2s infinite alternate-reverse;
  animation         : rot 3s ease-in-out 2s infinite alternate-reverse;
}
.loading-circle-2{
  width                       : 500px;
  height                      : 500px;
  margin-left                 : -250px;
  border-top                  : none;
  border-bottom               : 2px solid #435C94;
  margin-top                  : -250px;
  -webkit-transform           : rotate(90deg);
  -ms-transform               : rotate(90deg);
  -o-transform                : rotate(90deg);
  transform                   : rotate(90deg);
  -webkit-animation-direction : alternate;
  -o-animation-direction      : alternate;
  animation-direction         : alternate;
/*  -webkit-animation : rot 3s ease-in-out 2s infinite;
  -o-animation      : rot 3s ease-in-out 2s infinite;
  animation         : rot 3s ease-in-out 2s infinite;*/
}

@-webkit-keyframes fade{
  0%{box-shadow:0 0 20px 12px #435C94; background-color: #435C94;}
  100%{box-shadow:0 0 10px 2px #435C94; background-color: #3B5080;}
}
@keyframes fade{
  0%{box-shadow:0 0 20px 12px #435C94; background-color: #435C94;}
  100%{box-shadow:0 0 10px 2px #435C94; background-color: #3B5080;}
}

@-webkit-keyframes rot{
  0%{opacity: .5; -webkit-transform: rotate(0deg);}
  100%{opacity: 1; -webkit-transform: rotate(360deg);}
}
@keyframes rot{
  0%{opacity: .5; -webkit-transform: rotate(0deg);}
  100%{opacity: 1; -webkit-transform: rotate(360deg);}
}

@-webkit-keyframes yaobai{
  0%{-webkit-transform: rotate(0deg);}
  50%{-webkit-transform: rotate(20deg);}
  100%{-webkit-transform: rotate(0deg);}
}
@keyframes yaobai{
  0%{transform: rotate(0deg);}
  50%{transform: rotate(20deg);}
  100%{transform: rotate(0deg);}
}

@-webkit-keyframes beat{
  0%{-webkit-transform: scale(.95);}
  50%{-webkit-transform: scale(1);}
  100%{-webkit-transform: scale(.95);}
}
@keyframes beat{
  0%{transform: scale(.95);}
  50%{transform: scale(1);}
  100%{transform: scale(.95);}
}
